{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "airbnb", 
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    // "react",
    // "jsx-a11y",
    // "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/no-var-requires":"off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.tsx"]}],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/require-default-props":"off",
    "react/jsx-props-no-spreading":"off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }],
    "consistent-return":"off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "paths": ["src"],
        "extensions": [".d.ts", ".ts", ".tsx", ".js"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}